html, body, #background {
     width: 100vw;
     min-height: 125vh;
     background: linear-gradient(#040404, #000000, #656565, #656565 );
}
 .main {
     margin: 0;
     padding-top: 20px;
     font-family: Inter, sans-serif;
     height: 100vh;
     width: 100%;
     background: linear-gradient(#040404, #000000, #656565);
}
 .nav-col {
     background-color: #000000;
     height: 110px;
     padding: 10px 40px 20px 20px 
}
 .nav--logo_text, .nav--title {
     margin: 0;
}
.css-i4bv87-MuiSvgIcon-root {
     font-size: 1.5rem !important;
}
 .nav--logo_text {
     display: flex;
     padding-top: 10px;
     align-items: center;
     justify-content: center;
     color: #ffffff;
     font-size: clamp(1em, 5vw, 2.2em);
     font-weight: 900;
}
 @media only screen and (max-width : 1050px) {
td:not(:last-child) {
    word-wrap: break-word;
    overflow-wrap: break-word;
  }
   .search--button {
     font-size: 14px !important;
     font-weight: 500 !important;
}
   .add--button {
     font-size: 14px !important;
     font-weight: 500 !important;
}
   .nav--logo_text {
     font-size: 25px !important;
     font-weight: 800 !important;
}
.css-i4bv87-MuiSvgIcon-root {
     font-size: 1.2rem !important;
}
}
 .nav--icon {
     height: 32px;
     margin-right: 7px;
}
 .employeeForm {
     margin-top: 4%;
}
 .btn-td-save {
     width: 55px;
     border-radius: 4px;
     margin-top: 16%;
     text-align: center;
}
 @media only screen and (max-width : 500px) {
     .btn-td-save {
         font-weight: 400;
         padding-right: 50px;
    }
     .btn-td {
         margin-top: 20px;
    }
     .nav--icon {
     height: 18px;
     }
}

 .btn-td {
     width: 50px;
     border-radius: 4px;
     text-align: center;
}
 .icon-custom {
     padding: 5px !important;
}
.custom-info {
     background: linear-gradient(45deg, #ecf1f0, #cccccc);
     border-radius: 6px;
     padding: 5px;
     max-width: 80%;
     font-size: .8em !important;
}
 .form-container {
     color:#f8f9fa;
     margin-bottom: 60px;
     display: flex;
     width: 450px;
     box-shadow: 1px 2px 20px -6px rgba(0,0,0,0.67);
     background-color: #212529;
     padding:30px 20px;
     border-radius: 10px;
}
 #form-signup {
     margin-bottom: 20px;
     text-align: center;
     font-size: 1.7em;
     font-weight: 900;
}
 .form-buttons {
     margin: 10px 10px 0px 10px;
     border-radius: 10px !important;
     width: 200px;
}
 .search--input {
     height: 38px;
     padding: 10px;
     background-color: #e2e3e5;
     border: 0;
     border-radius: 10px;
     margin-top: 70px;
     border-bottom: solid 1px #cef1d7;
     width: 390px;
     color: #000000;
     letter-spacing: 2px;
     font-size: 18px;
     font-weight: 600;
     outline: none;
}
 @media only screen and (max-width : 500px) {
     .search--input {
         width: 200px;
    }
     #form-signup {
         font-size: 1.4em;
    }
     .form-container {
          width: 100% !important;
          margin-left: 17px !important;
          margin-top: 20px !important;
          margin-bottom: 40px !important;
    }
    .alert-danger {
     margin-left: 27px !important;
    }
}
 ::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
     color: #000000;
     opacity: 1;
    /* Firefox */
     font-weight: lighter;
}
 :-ms-input-placeholder {
    /* Internet Explorer 10-11 */
     color: #000000;
     font-weight: lighter;
}
 ::-ms-input-placeholder {
    /* Microsoft Edge */
     color: #000000;
     font-weight: lighter;
}
 .search--buttons {
     margin: 28px 0px 16px 0px;
     padding: 4px;
}
 .search--button {
     margin-right: 8px;
     border-radius: 10px !important;
}
 .employeeListDb {
     margin-top: 5%;
     width: 80% !important;
     background-color: rgb(225, 217, 225);
     border-radius: 6px;
     overflow: hidden;
     font-size: 1.1em !important;
}
input.form-control::placeholder {
    color:#cecfd1;
    font-size: 17px;
    font-weight: 600;
}
 input.form-control {
     margin-bottom: 20px;
     padding:10px;
     border-radius: 10px;
     height: 50px;
     background-color: #6c757d;
     outline: none;
     border: none;
     font-size:19.2px;
     transition-duration: 0.15s;
     color:#f8f9fa;
}
 input.form-control:focus{
     color:#f8f9fa;
     font-size: 16px;
     font-weight: 600;
     background-color: #6c757d;
     border:5px solid #4474d3;
     height: 49px;
     margin-top:2px;
}
 @media only screen and (max-width : 550px) {
     input.form-control {
         width: 100%;
         font-size:16px;
    }
     .custom-form {
         margin-top: 35px;
         margin-left: 35px;
    }
}
 @media only screen and (max-width : 500px) {
     ::-webkit-input-placeholder {
        /* WebKit browsers */
         color: transparent;
    }
     :-moz-placeholder {
        /* Mozilla Firefox 4 to 18 */
         color: transparent;
    }
     ::-moz-placeholder {
        /* Mozilla Firefox 19+ */
         color: transparent;
    }
     :-ms-input-placeholder {
        /* Internet Explorer 10+ */
         color: transparent;
    }
     input::placeholder {
         color: transparent;
    }
     textarea::-webkit-input-placeholder {
        /* WebKit browsers */
         color: transparent;
    }
     textarea:-moz-placeholder {
        /* Mozilla Firefox 4 to 18 */
         color: transparent;
    }
     textarea::-moz-placeholder {
        /* Mozilla Firefox 19+ */
         color: transparent;
    }
     textarea:-ms-input-placeholder {
        /* Internet Explorer 10+ */
         color: transparent;
    }
     textarea::placeholder {
         color: transparent;
    }
}
 @media only screen and (max-width : 550px) {
     .search--input {
         margin-top: 45px;
    }
     .employeeListDb {
         margin-top: 7%;
         width: 100% !important;
    }
     .error-msg {
         font-size: 10px;
    }
}
 .error-msg {
     color: #f16051;
     font-size: 16px;
     letter-spacing: 1px;
     font-weight: 500;
     padding-top: 20px;
}
 .new-employee {
     font-size: 2em;
     font-weight: 900;
}
 .add--button {
     border-radius: 10px !important;
}
 label{
  font-size: 1.2em;
    font-weight: 500;
    margin:10px 0px;
}
.alert {
     width: 450px;
}
.alert-msg-btn {
     font-size: 1.2em;
     float: right;
     color: red;
     padding: 0;
     margin-right: 5px;
border: none;
background: none;
}
button.alert-msg-btn:hover {
      color:#291d1d;
      transition: 0.7s;
  }
.alert-msg-success {
     font-size: 1.2em;
     float: right;
     color: #155724;
     padding: 0;
     margin-right: 5px;
     border: none;
     background: none;
}
button.alert-msg-success:hover {
      color:#212521;
      transition: 0.7s;
  }

.add--employee {
     width: 200px;
     border-radius: 10px;
  }
